.single_card {
    margin: 20px;
}

.title {
    color: #030707ef;
    margin-top: 80px;
    font-weight: 800;
    /* font-size: medium; */
}

.top {
    background-color: url('https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg');
}
