.skill,
.skill::before,
.skill::after {
    box-sizing: border-box;
    border: 1px solid rgb(155, 143, 143);
    background-color: rgb(145, 180, 180);
    margin: 40px;
    /* color: sandybrown; */
}

.skills_title {
    color: #0f1213;
    /* margin-top: 40px; */
    margin-top: 80px;
    font-weight: 800;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 30px;
}